<!DOCTYPE html>
<html>

<head>
    <title>Search User</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <h1>🔎 Search Result</h1>

    {% if user %}

        <h2>{{ user["firstName"] }}</h2>

        <p>Username: {{ user["username"] }}</p>
        <p>Email: {{ user["email"] }}</p>
        <p>Phone: {{ user["phone"] }}</p>
        <p>Currency: {{ user["bank"]["currency"] }}</p>
        <p>Card Number: {{ user["bank"]["cardNumber"] }}</p>
        <p>Company: {{ user["company"]["name"] }}</p>

    {% else %}

        <h2>User not found!</h2>

        <p>No user with username "{{ username }}" exists.</p>

    {% endif %}

    <br>
    <a href="/">⬅ Back</a>

</body>

</html>